<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Carro</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <p style="font-size:40px; margin-top: 2%;"> Cadastrar Carro </p>

        <form style="margin-top: 5%;" action= "/carro" method="post">

            <input type="hidden" name="id" value= "<%= carro.id %>">

            <div <%= escondido %> class="mb-3">
                <label class="form-label">Placa</label>
                <input type="text" value="<%= carro.placa %>" required class="form-control" name="placa">
            </div>

            <div class="mb-3">
                <label class="form-label">Fabricante</label>
                <input type="text" value="<%= carro.fabricante %>" required class="form-control" name="fabricante">
            </div>

            <div class="mb-3">
                <label class="form-label">Cor</label>
                <input type="text" value="<%= carro.cor %>" required class="form-control" name="cor">
            </div>

            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-dark" href="/">Voltar</a>
        </form>

    </div>

</body>

</html>