<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <p style="font-size:40px; margin-top: 2%;"> Detalhes: </p>

        <div style="text-align: center; font-size: 20px; margin-top: 8%;">
            <div> <b> Placa: </b> <%= resultado.placa %> </div>
            <div> <b> Fabricante: </b> <%= resultado.fabricante %> </div>
            <div> <b> Cor: </b> <%= resultado.cor %> </div>
        </div>

        </br><a style="margin-left: 90%; margin-top: 20%;" class="btn btn-dark" href="/carro" >Voltar</a>

    </div>
    
</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>

</html>