<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>
    
    <div class="container">

        <p style="font-size:40px;"> Usuários Cadastrados </p>

        <% if (salvo != undefined){ %>
            <div style="text-align:center; background-color:#008000; color:#ffffff">
                Usuário cadastrado com sucesso!
            </div>
        <%}%>

        <% if (atualizado != undefined){ %>
            <div style="text-align:center; background-color:#ffd700; color:#ffffff">
                Dados atualizados com sucesso!
            </div>
        <%}%>

        <% if (removido != undefined){ %>
            <div style="text-align:center; background-color:#a52a2a; color:#ffffff">
                Usuário removido com sucesso!
            </div>
        <%}%>


        <table class="table">

            <tr>
                <th>E-mail</th>
                <th>Nome</th>
                <th>Detalhar</th>
                <th>Alterar</th>
                <th>Deletar</th>
            </tr>

            <% for(let usuario of listaUsuarios) {  %>
                <tr>
                    <td>
                        <%= usuario.email%>
                    </td>
                    <td>
                        <%= usuario.nome%>
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="/usuario/<%= usuario.email %>">Detalhes</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/usuario/cadastrar/<%= usuario.email %>">Atualizar</a>
                    </td>
                    <td>    
                        <a class="btn btn-danger" onclick="return confirm('Confirmar remoção?')" href="/usuario/remover/<%= usuario.email %>">Remover</a>
                    </td>
                </tr>

            <% } %>

        </table>

        <div>
            <a class="btn btn-success" href="/usuario/cadastrar">Cadastrar</a>
            <a class="btn btn-dark" href="/" >Voltar</a>
        </div>

    </div>

</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>


</html>